<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="./js/main.js" defer></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/main.css">
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>MerryWeather☀️ Weather On-Demand</title>
</head>
<body>
    <main>
        <div class="text-white text-end" id="titlehead">
            <h1><strong>MerryWeather</strong>☀️</h1>
            <p>Powered by <a href="https://openweathermap.org/" target="_blank"><strong>OpenWeather</strong></a></p>
        </div>

        <div class="row justify-content-evenly pb-4">
            <div class="card col-4 p-4 shadow-lg rounded">
                <form id="cityForm">
                    <label for="city" class="form-label fs-3">City Name</label>
                    <input name="city" type="text" class="form-control mt-2 fs-5" placeholder="Examples: &nbsp; Houston, Denver, London, etc.">
                    <div class="d-grid mt-3 justify-content-end">
                    <button type="submit" class="btn btn-primary px-5 fs-4"><strong>Search</strong></button>
                    </div>
                </form>
            </div>

            <div class="card col-4 p-4 shadow-lg rounded">
                <form id="zipForm">
                    <label for="zip" class="form-label fs-3">Zip/Post Code</label>
                    <input name="zip" type="text" class="form-control mt-2 fs-5" placeholder="Examples: &nbsp; 90064, 80204, SW1A, etc.">
                    <div class="d-grid mt-3 justify-content-end">
                    <button type="submit" class="btn btn-primary px-5 fs-4"><strong>Search</strong></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="container mt-4 mb-5">
            <div class="row text-center justify-content-center pb-4" id="location"></div>

            <div class="container justify-content-center" id="weather">
                
            </div>
        </div>
    </main>
</body>
</html>